@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*,
*:before,
*:after {
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    line-height: 1.8;
    font-family: 'Open Sans', Sans-Serif;
    font-size: 16px;
    font-weight: normal;
}

img {
    max-width: 100%;
    width: 400px;
}

.container {
    max-width: 1290px;
    padding: 0 15px;
    margin: 0 auto;
}

.containerfull {
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

.containermd {
    max-width: 800px;
    padding: 0 15px;
    margin: 0 auto;
}

.containersm {
    max-width: 570px;
    padding: 0;
    margin: 0 auto;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.headermain {
    background: #111;
    position: relative;
}

.headermain:after {
    position: absolute;
    z-index: 9;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    content: "";
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #f1f1f1;
}

.headerinn:before {
    color: #111;
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    content: "";
    border-left: 20px solid #fff;
    border-right: 20px solid #fff;
    display: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Open Sans', Sans-Serif;
    color: #111;
    font-weight: 800;
}

h2 {
    font-size: 16px;
    margin: 0 0 20px;
    font-weight: normal;
}

.logo {
    text-align: center;
    padding: 15px 0 15px;
    width: 314px;
    margin: 0 auto;
}

p {
    margin-bottom: 25px;
}


a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #666;
}

/*====collpart==*/
.coll3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.coll4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
}

.coll6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.coll12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.colleft {
    flex: 0 0 55%;
    max-width: 55%;
}

.textleft {
    text-align: left;
}

.textcenter {
    text-align: center;
}

.textright {
    text-align: right;
}

.emailpart,
.logoutpart {
    align-self: center;
}

.emailpart a,
.logoutpart a {
    font-family: 'Open Sans', Sans-Serif;
    font-size: 16px;
}

.leftcontent {
    padding: 50px 0px 0 50px;
    display: flex;
    justify-content: center;
}

.leftholder {
    max-width: 550px;
    width: 100%;
}

.signuppart {
    padding: 0px 0 0;
}

.formgroup {
    padding-bottom: 0;
    padding-right: 80px;
    position: relative;
    width: 100%;
}

.submitinput {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
}

.formcontrol {
    padding: 10px 20px 10px 0;
    border: 1px solid rgba(0, 0, 0, 0);
    font-size: 16px;
    height: 46px;
    color: #666;
    width: 100%;
    font-family: 'Open Sans', Sans-Serif;
    font-weight: normal;
}

.formgroup {
    border-bottom: 1px solid #777;
}

.formgroup:after {
    border-bottom: 1px solid #000;
    position: absolute;
    z-index: 1;
    bottom: 0;
    content: "";
    left: 0;
    width: 100%;
}

.btnsubmit {
    font-family: 'Open Sans', Sans-Serif;
    color: #000;
    height: 46px;
    font-size: 16px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 10px 2px 10px 15px;
    cursor: pointer;
    -webkit-border-radius: 0;
    border-radius: 0;
    width: 80px;
    text-align: right;
}

.btnsubmit:hover {
    color: #666;
}

.listpart {
    padding-top: 100px;
}

.listpart h2 {
    text-align: center;
    margin-bottom: 0;
}


.colright {
    flex: 0 0 45%;
    max-width: 45%;
    text-align: center;
}

.rightcontent {
    padding: 50px 0px 0px 50px;
}

.iphonescreen {
    text-align: center;
    position: relative;
    max-width: 390px;
    margin: 0 auto;
}

.webiframe {
    width: 100%;
    height: 100%;
}

.iframeholder {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 102px 22px 44px 20px;
}

.iframeholder>iframe {
    border-radius: 0 0 28px 28px;
}

.iphonetext {
    color: #000;
    font-family: 'Open Sans', Sans-Serif;
    font-size: 16px;
    position: absolute;
    -webkit-transform: rotate(90deg) translateY(-50%);
    -moz-transform: rotate(90deg) translateY(-50%);
    -o-transform: rotate(90deg) translateY(-50%);
    -ms-transform: rotate(90deg) translateY(-50%);
    transform: rotate(90deg) translateY(-50%);
    top: 50%;
    right: -155px;
    letter-spacing: 1px;
}

.displaymob {
    display: none;
}

#notification-message {
    color: white;
    background-color: black;
}

/*===referraltop========*/
.referraltop {
    padding-top: 80px;
}

.textreferral {
    text-align: center;
}

.referralcount {
    text-align: center;
}

.referralcount h3 {
    font-size: 75px;
    margin: 0;
    padding-top: 40px;
    line-height: 1;
}

.referralcount h5 {
    font-size: 15px;
    margin: 0;
    padding-top: 15px;
}

.referralurl {
    padding-top: 60px;
}

.clipboardtop {
    padding-top: 30px;
}

.referralurl a {
    font-size: 24px;
    color: #000;
    font-family: 'Open Sans', Sans-Serif;
    line-height: 1.2;
}

.referralurl a:hover {
    color: #666;
}

.copytoclipboard {
    font-family: 'Open Sans', Sans-Serif;
    font-size: 16px;
    color: #fff;
    background: #000;
    height: 40px;
    text-align: center;
    max-width: 450px;
    width: 100%;
    text-align: center;
    display: block;
    border: none;
    line-height: 1.5;
    padding: 5px 15px;
    margin: 0 auto;
    cursor: pointer;
}

.copytoclipboard:hover {
    background: #666;
}

.shareemailsms {
    padding-top: 30px;
}

.shareemailsms a {
    font-size: 13px;
    color: #444;
    text-decoration: underline;
}

.shareemailsms a:hover {
    color: #000;
}

.thegoodspart h2 {
    text-align: center;
    font-size: 36px;
}

.thegoodsholder {
    padding-top: 35px;
}

.thegoodspart {
    padding-top: 75px;
}

.thegoodslist {
    text-align: center;
    padding-bottom: 25px;
}

.thegoodslist a {
    display: inline-block;
}

.productimg img {
    width: 276px;
    height: 276px;
    position: relative;
    display: block;
    border-radius: 100%;
    background: #f6f6f6;
    margin: 0 auto;
    padding: 40px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

.productimg:hover img {
    /*width: 160px;
    height: 160px;*/
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.thegoodslist p {
    font-family: 'Georgia', Sans-Serif;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 10px;
}

.thegoodslist h5 {
    padding-top: 0;
    font-size: 16px;
}

.thegoodstext {
    text-align: center;
    padding: 10px 28px 0;
}

.leese {
    padding: 0px !important;
    border-radius: 0px !important;
    /* width: 400px!important;
    height: 350px!important; */
}

.referralbottom {
    text-align: center;
    font-family: 'ProximaNova', Sans-Serif;
    font-weight: 500;
    font-size: 13px;
    font-style: normal;
    padding-top: 50px;
}

/*==animation===*/
.copytoclipboard,
.btnsubmit {
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

/* quote display */

.quotes {
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    height: 38px;
    margin: 25px 0 40px;
    color: #000;
    text-align: center;
}

/*=======================pdpn===================*/
/*===============responsive=====================*/

@media screen and (max-width:1299px) {
    .container {
        max-width: 860px;
    }

    .leftcontent {
        padding: 123px 30px 0px 0px;
    }

    .iphonescreen {
        padding: 0 30px 0 0;
    }

    .iphonetext {
        right: -115px;
    }

    .iframeholder {
        padding: 85px 48px 0px 17px;
        height: 640px;
    }

    .iframeholder>iframe {
        border-radius: 0 0 26px 23px;
    }
}

@media screen and (max-width:991px) {
    /*.container {
        max-width: 680px;
    }

    .iphonescreen {
        padding: 0 15px;
    }

    .coll12 {
        padding-left: 15px;
        padding-right: 15px;
    }*/
}

@media screen and (max-width:991px) {
    .displaydesktop {
        display: none;
    }

    .iphonescreen {
        padding: 0;
    }

    .mobileiphone {
        width: 400px;
        margin: 0 auto;
    }

    .iframeholder {
        padding: 60px 19px 50px 18px;
        height: 645px;
    }

    .displaymob {
        display: block;
    }

    .colxs2 {
        flex: 0 0 16.66666%;
        max-width: 16.66666%;
    }

    .colxs8 {
        flex: 0 0 66.66666%;
        max-width: 66.66666%;
    }

    .mobilemenu {
        display: block;
    }

    .mobileiphone {
        position: relative;
    }

    .shareemailsms .displaymob {
        display: inline-block;
        margin-left: 35px;
    }

    .headermain .container {
        max-width: 100%;
        padding: 0;
    }

    .container {
        max-width: 640px;
    }

    .colleft,
    .colright {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .leftcontent {
        padding-top: 40px;
    }

    .mainpart .container,
    .containersm {
        max-width: 530px;
        margin: 0 auto;
        padding: 0;
    }

    .logo {
        padding: 20px 0 12px;
    }

    .textcontent {
        text-align: center;
    }

    /*.formcontrol,
    .btnsubmit {
        font-size: 26px;
    }*/

    .formgroup {
        padding-right: 80px;
        margin: 0 auto;
        border-bottom: 0;
    }

    .btnsubmit {
        width: 80px;
        padding: 6px 2px 6px 10px;
    }

    .formcontrol {
        padding: 6px 2px 6px 10px;
    }

    .listpart {
        max-width: 350px;
        margin: 0 auto;
        text-align: center;
    }

    .iphonetoptext {
        color: #000;
        font-family: 'Open Sans', Sans-Serif;
        font-size: 14px;
        padding-bottom: 5px;
    }

    .leftcontent {
        padding: 50px 0 0;
    }

    .signuppart {
        padding: 25px 0 0;
    }

    .listpart {
        padding-top: 60px;
    }

    .listpart h2 {
        font-size: 18px;
    }

    .rightcontent {
        padding: 25px 0px 0;
    }

    .menuicon {
        position: relative;
        height: 28px;
        width: 24px;
        font-size: 0;
        overflow: hidden;
        cursor: pointer;
    }

    .headerinn {
        padding: 0 15px;
    }

    .menuicon span {
        height: 3px;
        width: 24px;
        top: 12px;
        background: #000;
        display: block;
        position: relative;
    }

    .menuicon span:after {
        content: "";
        height: 3px;
        width: 24px;
        top: -8px;
        background: #000;
        display: block;
        position: absolute;
        z-index: 1;
    }

    .menuicon span:before {
        content: "";
        height: 3px;
        width: 24px;
        bottom: -8px;
        background: #000;
        display: block;
        position: absolute;
        z-index: 1;
    }

    .mobilemenu.is-active .menuicon span,
    .mobilemenu.is-active .menuicon span:after,
    .mobilemenu.is-active .menuicon span:before {
        background: #666;
    }

    .menudropdown {
        position: absolute;
        z-index: 9;
        top: 100%;
        left: 0;
        background: #fff;
        display: none;
        list-style: none;
        width: 100%;
        max-width: 100%;
        padding: 0;
        margin: 0;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    }

    .menudropdown li {
        padding: 15px 30px;
    }

    .mobilemenu.is-active .menudropdown {
        display: block;
    }

    .referralurl a {
        font-size: 20px;
    }

    .referraltop {
        padding-top: 50px;
    }

    .displaymob.iosmob {
        display: none;
    }

    .displaymob.androidmob {
        display: inline-block;
    }

    .headerinn:before {
        display: none;
    }

    .iphonemobile {
        text-align: center;
    }

    .iphonemobile img {
        display: block;
    }

    .mainpart {
        padding-bottom: 0;
    }

    /* phone image display */

    .iphonemobile {
        height: 570px;
        overflow: hidden;
    }

    #iphone-logo-img {
        top: 95px;
        position: absolute;
        padding: 0 135px;
    }

    #iphone-text-img {
        top: 165px;
        position: absolute;
        padding: 0 90px;
    }

    #iphone-span-img {
        top: 200px;
        position: absolute;
        padding: 0 35px;
    }

    /* end */
}

@supports (-webkit-overflow-scrolling: touch) {
    .displaymob.iosmob {
        display: inline-block;
    }

    .displaymob.androidmob {
        display: none;
    }

    .leftholder {
        max-width: none;
    }
}



@media screen and (max-width:575px) {
    .mainpart .container,
    .containersm {
        max-width: 430px;
    }

    /*.formcontrol,
    .btnsubmit {
        font-size: 22px;
    }*/

    .referralurl a {
        font-size: 18px;
    }

    .copytoclipboard {
        max-width: 360px;
    }

    .coll12 {
        padding-left: 0;
        padding-right: 0;
    }

    .copytoclipboard {
        max-width: 300px;
    }

    .thegoodstext {
        padding-right: 0;
        padding-left: 0;
    }
}

@media screen and (max-width:479px) {

    .textcontent {
        padding: 0;
    }

    .iphonescreen {
        padding: 0;
    }

    .referralurl a {
        font-size: 16px;
    }

    .mainpart .container,
    .containersm {
        max-width: 330px;
    }

    .headermain {
        height: 80px;
    }

    .headermain img {
        width: 75%;
    }

    .quotes {
        font-size: 15px;
        margin: 10px 0 25px;
    }

    /* phone image display */
    .iphonemobile {
        height: 490px;
        overflow: hidden;
    }

    #iphone-logo-img {
        top: 80px;
        padding: 0 108px;
    }

    #iphone-text-img {
        padding: 0 85px;
        top: 145px;
    }

    #iphone-span-img {
        top: 170px;
        padding: 0 25px;
    }

    .leftcontent {
        padding: 30px 0 0;
    }

    .signuppart {
        padding: 10px 0 0;
    }

    .listpart {
        padding-top: 40px;
    }

    .listpart h2 {
        display: none;
    }

    /* end */
}

@media screen and (max-width:359px) {

    .mainpart .container,
    .containersm {
        max-width: 280px;
    }

    .mobileiphone {
        width: 290px;
    }

    .iframeholder {
        padding: 60px 17px 50px 16px;
        height: 600px;
    }

    /* phone image display */

    .iphonemobile {
        height: 420px;
        overflow: hidden;
    }

    #iphone-logo-img {
        top: 80px;
        padding: 0 95px;
    }

    #iphone-text-img {
        top: 130px;
        padding: 0 70px;
    }

    #iphone-span-img {
        top: 155px;
        padding: 0 22px;
    }

    /* end */
}


@supports (-webkit-overflow-scrolling: touch) {
    .mobileiphone {
        background: rgba(0, 0, 0, 0);
    }

    .mobileiphone {
        width: 290px;
    }

    .iframeholder {
        top: 60px;
        bottom: 50px;
        padding: 0px 17px 0px 16px;
        height: 490px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    .headerinn:before {
        display: none;
    }
}